//$topHeader: 90px;
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.2s;
	//background: var(--navbar-background-color);
	//border-bottom: 1px solid var(--border-line-color);
	//color: var(--juejin-color-nav-title);
	height: $topHeader;
	z-index: 250;

	&-box {
		position: relative;
		height: $topHeader;
	}

	.local_container {
		//margin: auto;
		height: 100%;
		//max-width: 1440px;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
		background: #fff;

		.inner-wrap {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}


		.right-actions {
			display: flex;
			justify-content: center;
			align-items: center;
			//color: #000;
			//font-size: 14px;
			//font-weight: 600;

			//:deep(.el-button) {
			.el-button {
				color: #000;
				border-color: #000;
				//font-size: 14px;
				font-weight: 600;

				&:hover {
					border-color: #000;
					background: var(--el-fill-color-light);
				}
			}
		}
	}
	.icon {
		font-size: 24px;
	}
	.more-menu {
		display: none;
	}
}
// 导航菜单
.main-nav.el-menu {

	--el-menu-horizontal-height: 48px;
	--el-menu-active-color: var(--link-color);
	--el-menu-text-color: #000;
	--el-menu-base-level-padding: 14px;

	border-bottom: 0;
	&--horizontal {
		display: flex;
		align-items: center;
	}
	//flex: 1 0 auto;
	//display: inline-flex;
	gap: 40px;

	.el-menu-item {
		border-bottom: 0;
		font-weight: 600;

		&.is-active {
			background-color: var(--el-menu-active-color);
			color: #fff !important;
		}

		&.nav-logo {
			background-color: transparent;
			.icon {
				font-size: 58px;
			}
		}
	}

	.el-sub-menu {
		.el-sub-menu__title {
			font-weight: 600;
			//color: #000;
		}
	}
}
// 兼容手机端
.pro_mobile {
	.main-header {
		.local_container {
			.inner-wrap {
				//justify-content: flex-start;
			}
			.right-actions {
				.el-button {
					font-size: mx2vw(12px);
					padding: mx2vw(8px) mx2vw(6px);
				}
				/*.login {
				}*/
			}
		}
		.main-nav.el-menu {
			gap: mx2vw(14px);
			.el-menu-item {
				padding: 0;
				&.nav-logo {
					.icon {
						//font-size: mx2vw(58px);
						//height: mx2vw(44px);
					}
				}
			}
		}
		.more-menu {
			display: flex;
			cursor: pointer;
			font-size: mx2vw(24px);
			padding: mx2vw(6px);
			//font-size: 24px;
			//padding: 6px;
		}
		.icon {
			font-size: mx2vw(24px);
		}
		&_menu-drawer {
			.logo {
				font-size: mx2vw(58px);
			}
			.el-drawer {
				&__header {
					align-items: flex-start;
					margin-bottom: 0;
					//padding: mx2vw(30px) mx2vw(24px);
					padding: mx2vw(30px) mx2vw(24px);
				}
				&__body {
					padding: 0 0 mx2vw(24px) 0;
				}
			}
			.main-nav.el-menu {
				--el-menu-horizontal-height: 12.8vw; // 48px/375 * 100
				--el-menu-base-level-padding: 8vw; // 30px / 375 * 100
				//--el-menu-active-color: var(--link-color);
				//--el-menu-text-color: #000;

				gap: mx2vw(30px);

				.el-menu-item {
					width: max-content;

				}

/*				.el-sub-menu {
					.el-sub-menu__title {
						font-weight: 600;
					}
				}*/
			}
		}
	}
}
